@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Definimos la tabla de colores*/
:root {
    --color-primario: #197BBD;
    --color-secundario: #0000001f;
    --color-fondo: #FCFCFD;
    --color-borde: #0824311f;
    --color-texto: #000000;
    --color-texto-secundario: #273240;
    --color-seleccionado: #F0F7FF;
    --color-enlace: #197BBD;
    --color-icono: #A6ABC8;
    --color-comentario-borde: #197BBD;
    --color-hover: #339be0;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--color-fondo);
    font-family: "Poppins", sans-serif;
    display: grid;
}
/*Contenedor de la estructura principal*/
.container-grid {
    grid-template:
        'header header' 100px
        'section main' auto
        'footer footer' 200px /
        270px auto;
}
/* Header*/
.header {
    grid-area: header;
    color: #ffffff;
    background-image: url('../img/Untitled\ design2.png');
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Section*/
.section {
    grid-area: section;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid var(--color-borde);
}
/*main*/
main {
    min-height: calc(100vh - 92px);
}

.main {
    padding: 24px;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
}

/*Footer*/
.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7f7;
    border-top: 1px solid #dfdfdff7;
    padding-top: 10px;
}

/*Barra lateral*/
nav {
    margin: 32px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-nav {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-texto-secundario);
    width: 80%;
}

nav ul {
    list-style: none;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav ul li {
    width: 80%;
    gap: 12px;
    height: 46px;
    width: 200px;
}

nav ul li a,
.btn-select {
    text-decoration: none;
    font-size: 16px;
    color: var(--color-texto);
    width: 100%;
    height: 100%;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
}


nav ul li i {
    color: var(--color-icono);
    font-size: 20px;
}

nav ul li a:active,
nav ul li a i:hover {
    background-color: var(--color-seleccionado);
    border-radius: 5px;
    color: var(--color-enlace);
}

.btn-select {
    background-color: var(--color-seleccionado);
    border-radius: 5px;
    color: var(--color-enlace);
}

.btn-select i {
    color: var(--color-enlace);
}

.comment-user {
    border: 1px solid var(--color-comentario-borde); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    margin: 12px;
    border-radius: 16px;
}

.comment-user img {
    max-height: 80px;
    max-width: 80px;
    object-fit: cover;
    border-radius: 16px;
    border: 1px solid var(--color-borde);
}

.info-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-usuario .nombre {
    font-size: 16px;
    font-weight: 600;
}

.info-usuario .opinion {
    font-size: 14px;
    text-align: start;
    padding-left: 12px;
}

/*Contenido Main*/
.main-link {
    font-size: 14px;
    margin-right: 20px;
    color: var(--color-texto);
}

.main-link a {
    color: var(--color-texto);
}


.main-link span {
    font-weight: 500;
}

main {
    min-width: 100%;
    padding: 0px 24px;
}

.titulo-main {
    text-align: start;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
}

.combo-box {
    background-color: #fff;
    width: 500px;
    height: 60px;
    margin-top: 32px;
    border-radius: 16px;
    box-shadow: 0px 4px 16px var(--color-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.combo-box select {
    height: 32px;
    border-radius: 8px;
}

.updated-data {
    margin-top: 32px;
    font-size: 14px;
    padding-left: 12px;
    text-align: end;
    padding: 0px 20px;
}

.contenedor-cotizaciones {
    max-height: 460px;
    min-height: 360px;
    background-color: #fff;
    overflow: auto;
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6);
    box-shadow: 0px 14px 16px var(--color-secundario);
    margin-bottom: 10px;
}

.columna {
    display: flex;
    max-height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 20px;
    border-bottom: 1px solid var(--color-borde);
}

.columna h3 {
    font-size: 18px;
    font-weight: 600;
    width: 180px;
}

.precio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.precio .compra {
    color: #a8b3ac;
}

.fav-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.columna i {
    padding-right: 32px;
    color: var(--color-primario);
    font-size: 22px;
}

/*Contenido footer*/
.container-info-footer {
    padding-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    
}

.info-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.info-footer h4 {
    font-size: 16px;
}

.info-footer a, 
.info-footer p {
    color: var(--color-texto);
    font-size: 14px;
}

/* mensaje de error si no funcion la peticion a la api */
.mostrar-error {
    border: 1px solid rgb(255, 2, 2);
    padding: 24px 48px;
    border-radius: 12px;
    font-size: 24px;
    background-color: rgba(243, 0, 0, 0.795);
    color: white;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* oculta el mensaje si es correcto */
.ocultar-error {
    display: none !important;
}
.contenedor-mensaje{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 22px;
}

#mensaje-error-moneda{
    /*border: 2px solid red;*/
    border-radius: 12px;
    background-color: rgb(241, 236, 236);
}
#mensaje-error-moneda h2 {
    padding: 32px;
}
/* Media Query para móviles*/
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container-grid {
        grid-template:
            'header' 100px
            'section'
            'main' auto
            'footer'/
            100%;
    }

    .section {
        padding: 16px;
        border-right: none;
    }

    .main {
        align-items: center;
        padding: 16px;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        width: 100%;
    }

    .combo-box {
        max-width: 100%;
        margin-top: 16px;
    }

    .contenedor-cotizaciones {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 16px;
    }

    main h2 {
        font-size: 18px;
        margin-left: 16px;
    }

    .info-footer {
        width: 25%;
    }
}