:root {
    --color-primario: #197BBD;
    --color-hover: #339be0;
    --color-secundario: #0000001f;
    --color-fondo: #fff;
}

.main-contacto {
    width: 100%;
}
.main h2{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.div-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding-top: 40px;
    gap: 40px;
}

.elementos-flex{
    display: flex;
    flex-direction: row;
    gap: 60px;
    
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo);
    border-radius: 28px;
    box-shadow: 0px 4px 16px var(--color-secundario);
    min-width: 300px;
    padding: 24px;
    height: 60vmin;
}

.formulario h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.contenido-formulario {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    height: 100vmin;
}

.contenido-formulario input,
textarea {
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--color-secundario);
}
label{
    padding: 15px;
}

.btn {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    width: 240px;
    height: 42px;
    background-color: var(--color-primario);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    }

.btn:hover {
    background-color: var(--color-hover);
}

.botones {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.datos-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 28px;
    padding: 20px;
    box-shadow: 0px 4px 16px var(--color-secundario);
    height: 200px;
    align-self: center;

}

.datos-contacto img {
    max-width: 100%;
    max-height: 80px;
    width: auto;
    height: auto;
}

.contenido-contacto {
    display: flex;
    margin: 5px 5px;
}

.contenido-contacto ul li {
    list-style: none;
}

.texto-dolarapi{
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
}

@media (max-width: 600px) {
    .main-contacto{
        margin-top: 30px;
    }
    .div-contenedor {
        display: flex;
        max-width: 80%;
        margin: auto auto;
    }

    .elementos-flex {
        flex-direction: column;
        align-items: center;
    }

   
    .formulario {
        height: auto; 
    }

    .datos-contacto {
        height: auto; 
    }
 
}