:root {
    --color-primario: #197BBD;
    --color-hover: #339be0;
    --color-secundario: #0000001f;
    --color-fondo: #fff;
}

.main {
    width: 100%;
}

.contacto-container {
    display: flex;
    width: 100%;
    max-width: 1100px;
    font-size: 18px;
    padding-top: 50px;
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo);
    border-radius: 28px;
    box-shadow: 0px 4px 16px var(--color-secundario);
    min-width: 600px;
    padding: 24px;
}

.formulario h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.contenido-formulario {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.contenido-formulario input,
textarea {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-secundario);
}

.btn {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    width: 240px;
    height: 42px;
    background-color: var(--color-primario);
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-hover);
}

.botones {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1 0 50%;
    padding: 30px;
    justify-content: space-around;
}

.datos-contacto {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 28px;
    box-shadow: 0px 4px 16px var(--color-secundario);
}

.datos-contacto img {
    max-width: 100%;
    max-height: 80px;
    width: auto;
    height: auto;
}

.contenido-contacto {
    display: flex;
    margin: 5px 5px;
}

.contenido-contacto ul li {
    list-style: none;
}
