/*Tabla de colores*/
:root {
    --color-primario: #197BBD;
    --color-secundario: #b1b1b1;
    --color-borde: #8d8c8c2a;
    --color-sombra: #0000001f;
    --color-fondo: #fff;
}
/*Contenido del main informe*/
.main h2 {
    text-align: center;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 80px;
}

.main-informe {
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-content: center;
    gap: 24px;
}
#moneda{
    width: 8rem;
    text-align: center;
}
#btn-compartir{
    border-radius: 10px;
    border-color:var(--color-secundario);
    box-shadow: 0px 4px 16px var(--color-sombra);
    text-align: center;
    padding: 10px;    
    margin-bottom: 20px;
    font-size: medium;
    background: none;
    border: none;
    cursor: pointer;
}
.compartir-info {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    padding: 8px 0px;
    
}

.compartir-info i {
    margin-right: 12px;
}

.container-informes-table {
    border: 1px solid var(--color-primario);
    width: 70%;
}

.contenedor-tb-informes{
    max-height: 500px;
    overflow: auto;
    background-color: var(--color-fondo);
    box-shadow: 0px 4px 16px var(--color-sombra);
    border-radius: 28px;
    padding: 24px;
}
.table-informes {
    padding: 24px;
    min-width: 700px;
    max-width: 800px;
}
.titulo-seccion-informes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titulo-seccion-informes td {
    text-align: center;
    width: 25%;
    color: var(--color-secundario);
    padding: 0px 12px;
}

.fila-cotizacion {
    display: flex;
    flex-direction: row; 
    width: 100%;
    justify-content: space-between;
    max-height: 80px !important;
}

.fila-cotizacion td {
    width: 25%;
}

#nombre-moneda {
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 12px;
}


.table-informes tbody td {
    padding: 8px 12px;
    border-bottom: 1px solid var(--color-borde);
    text-align: center;
}

.grafica-informes {
    height: 700px;
    padding: 24px;
}

.grafica-informes h3 {
    font-size: 32px;
}

.grafica-informes img {
    max-height: 400px;
    height: 300px;
    border-radius: 28px;
    box-shadow: 0px 4px 16px var(--color-sombra);
}

#formulario-datos {
    position: absolute;
    top: 40%;
    left: 50%;
    border-radius: 28px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    max-width: 500px;
    padding: 24px;
    background-color: var(--color-fondo);
    box-shadow: 0px 4px 16px var(--color-sombra);
}

#formulario-datos h3,
#formulario-datos label {
    text-align: left;
    width: 90%;
}

#formulario-datos input {
    height: 32px;
    width: 90%;
}

#formulario-datos button {
    height: 42px;
    width: 300px;
    border-radius: 12px;
    border: none;
    background-color: var(--color-primario);
    color: #fff;
    margin-top: 12px;
    font-size: 18px;
    letter-spacing: 1.4px;
}

/*Media query para dispositivos moviles*/
@media (max-width: 600px){
    .main-informe {
        grid-template-columns: 1fr;
    }

    .table-informes,
    .grafica-informes img,
    #formulario-datos {
        max-width: 90%;
    }
}