table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;

}

.tabla {
    padding: 10px;
    overflow: auto;
    border-collapse: collapse;
    box-shadow: 0px 14px 16px #0000001f;

}

.titulo-tabla {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.fa-print {
    font-size: 30px;
}

.contenido-tabla th,
.contenido-tabla td {
    border: 1px solid #000;
    padding: 8px;
    
}

.contenido-tabla th {
    background-color: #FCFCFD;
    
}

.fila-fecha {
    background-color: #f7f7f7f7;
    text-align: start;
}