/*Tabla de colores*/
:root {
    --color-principal: #197BBD;
    --color-texto-claro: #b1b1b1;
    --color-texto-oscuridad: #000000;
    --color-fondo: #fff;
    --color-borde: #8d8c8c2a;
    --color-sombra: #0000001f;
}

/*Contenido Principal del main mi archivo*/
.tabla {
    width: 100%;
    height: 100%;
}

.titulo-tabla {
    text-align: center;
}

.titulo-tabla h2 {
    font-size: 32px;
    font-weight: 700;
}

.tabla .print {
    padding: 12px;
    text-align: left;
    font-size: 24px;
    color: var(--color-principal);
    cursor: pointer;
}

.contenido-tabla {
    border-radius: 29px;
    padding: 24px;
    background-color: var(--color-fondo);
    max-height: 500px;
    overflow: auto;
    box-shadow: 0px 14px 16px var(--color-sombra);
}

.contenido-tabla table {
    border-collapse: collapse;
    width: 100%;
}

.contenido-tabla table thead tr th {
    color: var(--color-texto-claro);
    font-weight: 400;
}

.contenido-tabla table tbody .datos td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid var(--color-borde);
}

.datos .moneda {
    color: var(--color-texto-oscuridad);
    font-weight: 600;
}

.fila-fecha {
    color: var(--color-principal);
    padding: 12px;
}

.button-delete {
    border: none;
    background: none;
}

.button-delete i {
    font-size: 18px;
}
